.app-sidenav-container{
    height: calc(100vh - 64px);

    mat-sidenav {
        width: 200px;
    }

    mat-sidenav-content{
        background-color: #EFEFEF;
    }

    .mat-tab-nav-bar {
        background-color: #e86519;
        color: white;
    }
    .mat-tab-link{
        color: white;
    }
}

