.player {
    width:100%;
}

.winner {
    background-color: rgba(22,197,20,0.3);
}
.loser {
    background-color: rgba(177,20,20,0.18);
}

@media screen and (max-width: 600px) {
    .warriors {
        display:none !important;
    }
}