.winner {
    border:1px solid rgb(91, 180, 98)
}
.loser {
    border:1px solid rgb(204, 118, 48)
}

.player {
    background-color: white;
    width:100%;
}

@media screen and (max-width: 600px) {
    .warriors {
        display:none !important;
    }
}