.battle-date {
    background-color: white;
}

player-item {
    display: inline-flex;
    cursor:pointer;
}

player-item:hover {
    box-shadow: 4px 4px 4px #dad4d4;
}

.battle-item {
    background-color: white;
}

.isDisabled{
    cursor: not-allowed;
}
.isDisabled:hover{
    cursor: not-allowed;
    box-shadow: none;
}

.mat-mini-fab{
    width: 25px;
    height: 25px;
    .mat-icon{
        height:27px;
    }

    .material-icons{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    .hide-sm{
        display: none;
    }
}