.battle-date {
    background-color: white;
}

player-item {
    display: inline-flex;
    cursor:pointer;
}

player-item:hover {
    box-shadow: 4px 4px 4px #dad4d4;
}

.battle-item {
    background-color: white;
}