<div fxLayout="row" class="battle-item" fxLayoutAlign="center center">
  <div fxFlex="20" class="battle-date"fxLayout="row" fxLayoutAlign="center center">
    <button mat-button mat-mini-fab *ngIf="!battle.isFinish" (click)="deleteBattle(battle)">
      <mat-icon>delete</mat-icon>
    </button>
    <h4>{{battle.date | date:'dd/MM'}}<span class="hide-sm"> - {{battle.date | date:'HH:mm'}}</span></h4></div>
  <player-item [class.isDisabled]="battle.isFinish" fxFlex="40" [player]="battle.firstPlayer" (click)="battle.isFinish ? $event.stopPropagation() : confirmWinner(battle, 'firstPlayer');"></player-item>
  <player-item [class.isDisabled]="battle.isFinish" fxFlex="40" [player]="battle.secondPlayer" (click)="battle.isFinish ? $event.stopPropagation() : confirmWinner(battle, 'secondPlayer');"></player-item>
</div>