<h2>Match VS</h2>
        <form class="person-form"
        [formGroup]="form"
        novalidate>
    <mat-tab-group>
        <mat-tab label="Player 1">
            <mat-form-field >
                <mat-select placeholder="Select Player 1" formControlName="firstPlayerName">
                    <mat-option *ngFor="let player of players | async" [value]="player" >
                        {{ player.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mh-tags [source]="warriors" 
            formControlName="firstPlayerWarriors" ></mh-tags>
            
        </mat-tab>
        <mat-tab label="Player 2">
            <mat-form-field >
                <mat-select placeholder="Select Player 2" formControlName="secondPlayerName">
                    <mat-option *ngFor="let player of players | async" [value]="player" >
                        {{ player.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mh-tags [source]="warriors" 
            formControlName="secondPlayerWarriors" ></mh-tags>
            
        </mat-tab>
    </mat-tab-group>
    </form>
    <button mat-button>No</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="submit()">Submit</button>