.battleform-container {
    padding: 20px;

    .warriors {
        margin-top:20px;
    }
}

.battleform-player {
    background-color: white;
    margin: 20px;
    padding: 40px;
}

.battleform-button{
    button {
        margin:20px;
    }
}