.battleform-container {
    padding: 20px;

    .warriors {
        margin-top:20px;
    }
}

.battleform-player {
    background-color: white;
    margin: 20px;
    padding: 40px;
    position:relative;
}

.battleform-button{
    button {
        margin:20px;
    }
}

.button-config {
    position: absolute;
    top:0px;
    right:0px;
}

@media screen and (max-width: 600px) {
    .battleform-container {
        padding: 4px;
    }
    .battleform-player{
        margin:4px;
    }
}