.battles-wrapper {
    background-color: #EFEFEF;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
    .battles {
    }

    .add-battle {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    mat-card{
        padding: 8px;
    }

    .winner {
        border:1px solid rgb(91, 180, 98)
    }
    .loser {
        border:1px solid rgb(204, 118, 48)
    }
}