<div class="battles-wrapper">
  <div class="battles">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>Battles</h1>

      <button color="primary" mat-fab class="add-battle" (click)="openDialog()">+</button>

      <mat-card *ngFor="let battle of battles | async" style="width:85%">
        <mat-card-title fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
            {{battle.firstPlayer.name}}
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
            {{battle.secondPlayer.name}}
          </div>
        </mat-card-title>
        <mat-card-content fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <span *ngFor="let warrior of battle.firstPlayer.warriors">{{warrior.name}}</span>
          </div>
          <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
            <span *ngFor="let warrior of battle.secondPlayer.warriors">{{warrior.name}}</span>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>