.battles-wrapper {
    background-color: #EFEFEF;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    .add-battle {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}