.battles-wrapper {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 40px;

    .add-battle {
        position: fixed;
        top: 83px;
        right: 20px;
    }
    .battle {
        margin: 3px 0px;
    }

    @media screen and (max-width: 600px) {
        .add-battle {
            top: 26px;
        }
    }
}

@media screen and (max-width: 600px) {
    .battles-wrapper {
        padding: 8px;
    }
}