<h2 mat-dialog-title>Match VS</h2>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Player 1">
            <mat-form-field >
                <mat-select placeholder="Select Player 1" formControlName="firstPlayerName">
                    <mat-option *ngFor="let player of players | async" [value]="player" >
                        {{ player.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mh-tags [source]="warriors" 
            formControlName="firstPlayerWarriors" ></mh-tags> -->
            
        </mat-tab>
        <mat-tab label="Player 2">
            <mat-form-field >
                <mat-select placeholder="Select Player 2" [(value)]="battle.secondPlayer">
                    <mat-option *ngFor="let player of players | async" [value]="player" >
                        {{ player.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true">Submit</button>
</mat-dialog-actions>