<div id="home-component" fxLayout="column" fxLayoutAlign="center center">
    <div class="home-content" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center center">

      <picture>
        <source class="home-beer-guy" srcset="/assets/images/logo.png" type="image/png">
        <img class="home-beer-guy" src="/assets/images/logo.png" alt="Firechat guy!">
      </picture>
  
      <div class="home-buttons" fxLayout="row" fxLayout.gt-md="column" fxLayoutAlign="center center">
        <a mat-raised-button color="primary" [routerLink]="''" aria-label="Get Started">Let's Battle !</a>
        <!-- *ngIf="currentUser != null" -->
        <a mat-raised-button color="primary" [routerLink]="'login'" aria-label="Sign in and pour some beer">Sign In</a>
      </div>
    </div>
  </div>